body {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  height: 100vh;
}
h1{
  text-align: center;
}
p{
  text-align: center;
}
.form-label{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(0, 0, 0);
  font-size: 25px;
}
.card {
  -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  border-radius: px;
  padding: 1.5em;
  background-color: rgb(171, 130, 225);
}

.custom-container {
  margin: 2em;
}
.image{
  height: 150px;
  width: 150px;
}
input{
  color: black;
  font-weight: bolder;
}